# Fichiers générés par Visual Studio
.vs/
.vscode/
.idea/

# Dossiers de compilation
bin/
obj/

# Dossiers générés par dotnet
out/

# Fichiers de configuration d'utilisateur
userconfig.xml

# Fichiers générés par l'outil de publication
publish/

# Fichiers de log
*.log

# Fichiers de configuration de NuGet
.nuget/

# Fichiers temporaires et de cache
*.user
*.suo
*.userosscache
*.sln.docstates

# Fichiers et répertoires liés au développement local
# Par exemple, si tu utilises Docker ou une autre plateforme
docker-compose.override.yml

# Fichiers de dépendances spécifiques à la plateforme
project.lock.json
project.fragment.lock.json
